api:
  dashboard: true

entryPoints:
  web:
    address: ":80"
    forwardedHeaders:
      insecure: true

providers:
  docker:
    watch: true
    exposedByDefault: false
  file:
    directory: /etc/traefik/dynamic
    watch: true
    filename: dynamic.yml

accessLog: {}