# Loads default set of integrations. Do not remove.
default_config:

# configure the reverse proxy
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - {{ hass_reverse_proxy_ip }}
    - 127.0.0.1
    - ::1

# use Postgres Database
recorder:
  db_url: "postgresql://postgres:{{ hass_postgres_password }}@sql/hass"

# Text to speech
tts:
  - platform: google_translate

logger:
  default: info

mqtt:
  broker: mosquitto
  port: 1883
  client_id: hass

panel_iframe:
  vscode:
    title: "VSCode"
    icon: mdi:microsoft-visual-studio-code
    url: "http://{{ hostname }}:8443"
  nodered:
    title: "NodeRED"
    icon: si:nodered
    url: "http://{{ hostname }}:1880"

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml