{
  "syncLevel": "fullSync",
  "name": "Sonarr",
  "fields": [
    {
      "name": "prowlarrUrl",
      "value": "http://{{ inventory_hostname }}:9696"
    },
    {
      "name": "baseUrl",
      "value": "http://{{ inventory_hostname }}:8989"
    },
    {
      "name": "apiKey",
      "value": "{{ sonarr_api_key.matches[0]['ApiKey'] }}"
    },
    {
      "name": "syncCategories",
      "value": [
        2000,
        2010,
        2020,
        2030,
        2040,
        2045,
        2050,
        2060,
        2070,
        2080
      ]
    }
  ],
  "implementationName": "Sonarr",
  "implementation": "Sonarr",
  "configContract": "SonarrSettings",
  "infoLink": "https://wiki.servarr.com/prowlarr/supported#sonarr",
  "tags": []
}
